.App {
  text-align: center;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #282c34;
  font-size: 35px;
}

.App-header a {
  color: white;
  text-decoration: none;
}

.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  margin: auto;
}

.auth-form input {
  margin-bottom: 5%;
  padding: 2%;
}

.auth-form button {
  padding: 2%;
  border: none;
}

.auth-form select {
  padding: 2%;
  margin-bottom: 5%;
  border: none;
}

.login-page {
  margin-top: 5%;
}

.register-page {
  margin-top: 5%;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  margin: auto;
}

.add-product-form input {
  padding: 2%;
  margin-bottom: 5%;
}